@font-face {
  font-family: "Gowun Batang";
  src: url("https://fonts.googleapis.com/css?family=Nanum+Gothic:400");
}

@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic:400");

.App {
  font-family: "Nanum Gothic", sans-serif;
}

/*fade-in 애니메이션 만들기*/
.start {
  opacity: 0;
}
.end {
  opacity: 1;
  transition: all 0.5s;
}
